@tailwind components;
@tailwind utilities;

@layer tailwind {
  @tailwind base;
}

@import '@mantine/core/styles.css';
@import '@mantine/dates/styles.css';
@import '@mantine/notifications/styles.css';
@import '@mantine/dropzone/styles.css';

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: var(--bd-default, var(--mantine-color-gray-5));
}

[data-mantine-color-scheme='dark']*,
[data-mantine-color-scheme='dark']::before,
[data-mantine-color-scheme='dark']::after {
  border-color: var(--mantine-color-dark-4);
}

:root {
  --mantine-color-body-dimmed: var(--mantine-color-gray-1);
  --mantine-color-body-dimmed-hover: var(--mantine-color-gray-2);
  --bd-default: var(--mantine-color-gray-4);
}

[data-mantine-color-scheme='dark']:root {
  --mantine-color-body-dimmed: var(--mantine-color-gray-9);
  --mantine-color-body-dimmed-hover: var(--mantine-color-gray-8);
  --bd-default: var(--mantine-color-dark-4);
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.outline-link {
  color: var(--mantine-color-dimmed);
  transition: color 250ms;
}

.outline-link:hover,
.outline-link.active {
  color: inherit;
}

.active {
  transition: transform 50ms ease-in-out;
}

.active:active {
  transform: translateY(1px);
}

.mantine-ScrollArea-viewport > div {
  display: block !important;
}

.mantine-List-itemWrapper {
  padding-right: 1.25rem;
}

.mantine-Notification-description {
  white-space: pre-wrap;
}

@keyframes rotate-border {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}
.animate-rotate-border {
  animation: rotate-border 2.5s infinite linear;
}
.rotate-border-gradient {
  background-image: conic-gradient(
    from 90deg at 50% 50%,
    #38d9a9 0deg,
    /* #e92a67 0deg, */ #38d9a900 115deg,
    #38d9a900 180deg,
    #38d9a9 180deg,
    #38d9a900 295deg
  );
}
