.label {
  font-size: var(--mantine-font-size-xs);
}

[data-surround='true'] .root {
  position: relative;
}

[data-surround='true'] .input {
  height: rem(58px);
  padding-top: rem(22px);
}

[data-surround='true'] .label {
  position: absolute;
  pointer-events: none;
  padding-left: var(--mantine-spacing-sm);
  padding-top: calc(var(--mantine-spacing-sm) / 2);
  z-index: 1;
}
